html{
    scroll-behavior: smooth;
}

.form{
    background-color: #512DA7;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.form-element{
    margin-left: auto;
        margin-right: auto;
        width: 80vw;
}

#field{
    background: transparent;
    border: 1px solid white;
}