.nav_margin{
    width: 80vw;
}

.icon{
    font-size: 25px;
    color: white;
}

.card-box{
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}